# Server
NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:5173

# Database
MONGODB_URI=mongodb://127.0.0.1:27017/hotel_booking

# JWT
JWT_ACCESS_SECRET=replace_with_strong_secret_access
JWT_REFRESH_SECRET=replace_with_strong_secret_refresh
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
JWT_EMAIL_SECRET=replace_with_strong_secret_email

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Stripe
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx

# Mail (Gmail SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
MAIL_FROM="Hotel Booking <no-reply@hotel.dev>"

# VNPay Sandbox
VNPAY_TMN_CODE=CGXZLS0Z
VNPAY_HASH_SECRET=KQINPFAZ2S95FVAWJVIWBHKXNSFYPQXB
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:5173/payment/vnpay-return

# MoMo Sandbox
MOMO_PARTNER_CODE=MOMO
MOMO_ACCESS_KEY=F8BBA842ECF85
MOMO_SECRET_KEY=K951B6PE1waDMi640xX08PD3vg6EkVlz
MOMO_ENDPOINT=https://test-payment.momo.vn/v2/gateway/api/create
MOMO_RETURN_URL=http://localhost:5173/payment/momo-return
MOMO_IPN_URL=http://localhost:5000/api/v1/payments/momo-ipn

# Google Gemini AI
GEMINI_API_KEY=your_gemini_api_key_here
